@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

.Modal {
	background-color: #e6e8ec;
}

.Quiz {
	background-color: #6a5be2;
}

.Users {
	background-color: #dfe2ff;
}

.CurrencyConvertor {
	background-color: #f9f2ed;
}

.PhotoCollection {
	background-color: #eff0f1;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
